 @media (max-width: 420px) {
    button.mobile-invisible {
       display: none !important;
     }
 }

 @media (max-width: 768px) {
   body {
     .demo-index-layout {
       display: flex;
       flex-direction: column;
       align-items: center;
       padding: 0;
       overflow: hidden;
       height: calc(100vh - 98px);
     }

     .demo-header-spacing {
       padding: 14px 24px;
       border-bottom: 1px solid #E8E6F0;
     }

     .modal-frame {
       /* display: none; */
       position: fixed;
       bottom: 0;
       width: 100vw;
       height: 100vh;
       visibility: hidden;
       overflow: hidden;
     }

     .modal-frame-mobile-visible {
       visibility: visible;
     }

     .side-bar-spec {
       padding: 20px 24px;
       padding-bottom: 148px;
     }

     .frame-operator {
       background-color: #fff;
       width: 100vw;
       overflow: scroll;
     }

     .main-content {
       position: fixed;
       bottom: 0;
     }

     .frame-operator-hooks {
       /* Auto layout */
       display: flex;
       align-items: center;
       padding: 12px 24px;
       gap: 20px;

       /* height: 56px; */
       overflow: scroll;

       /* Demo/Gray/White */
       background: #FFFFFF;
       /* Demo/Purple/01 */
       border-top: 1px solid #E8E6F0;

       scrollbar-width: none;
       /* Firefox */
       -ms-overflow-style: none;
       /* IE 和 Edge */

       ::-webkit-scrollbar {
         display: none;
       }
     }

     .operator-btn-area {
       /* Frame 2085662381 */

       /* Auto layout */
       display: flex;
       flex-direction: column;
       align-items: stretch;
       padding: 12px 24px;
       gap: 12px;

       /* Demo/Gray/White */
       background: #FFFFFF;
       /* Demo/Purple/01 */
       border-top: 1px solid #E8E6F0;

       /* Inside auto layout */

     }

     .modal-hooks-invisible {
       display: none;
     }

     .responsive-image-width {
       max-width: 327px;
     }
   }
 }

 @media (min-width: 768px) {
   body {
     .demo-index-layout {
       display: flex;
       flex-direction: row;
       margin: 40px;
       margin-top: 0;
       border: 1px solid #E8E6F0;
       border-radius: 12px;
       overflow: hidden;
       /* height: 800px; */
     }

     .demo-header-spacing {
       margin: 40px;
       margin-bottom: 0;
       margin-top: 0;
       padding: 19px 0px;
     }

     .modal-frame {
       width: 100%;
       flex-grow: 1;
       background: #E6E6E6;
       /* border-radius: 16px;
       overflow: hidden; */
     }

     .side-bar-spec {
       width: 420px;
       min-width: 420px;
       align-items: start;
       padding: 27px 30px;
     }

     .frame-operator {
       display: flex;
       width: 100%;
       justify-content: space-between;
       padding: 30px;
       box-sizing: border-box;
       border-left: 1px solid #E8E6F0;
       align-items: center;
       flex-wrap: wrap;
       gap: 12px
     }

     .responsive-image-width {
       max-width: 354px;
       /* height: 112px; */
     }

     button.desktop-invisible {
       display: none;
     }
   }
 }



 body {
   * {
     font-family: 'Poppins';
     font-weight: 500;
   }

   .side-bar {
     /* Auto layout */
     display: flex;
     flex-direction: column;
     gap: 28px;
     box-sizing: border-box;
     overflow: scroll;

     background: #FFFFFF;


   }

   iframe {
     border: none
   }

   .demo-header {
     /* Header */

     /* Auto layout */
     display: flex;
     flex-direction: row;
     justify-content: space-between;
     align-items: center;

     height: 70px;

     /* Inside auto layout */
     flex: none;
     order: 0;
     align-self: stretch;
     flex-grow: 0;
   }

   margin: 0;

   [role=btn] {
     cursor: pointer;
   }

   a {
     text-decoration: none;

     :hover {
       cursor: pointer;
     }
   }

   [role=btn]:hover {
     cursor: pointer;
   }

   .doc-btn {
     width: 161px;
     height: 52px;
     /* com/Red */
     background: #F21F7F;
     border-radius: 8px;


     /* Auto layout */
     display: flex;
     flex-direction: row;
     justify-content: center;
     align-items: center;
     padding: 0px;
     gap: 7px;

     font-family: 'Switzer';
     font-style: normal;
     font-weight: 500;
     font-size: 16px;
     line-height: 140%;

     /* com/White */
     color: #FFFFFF;
   }

   .supported-title {
     /* Supported Chains */

     width: 100%;
     /* height: 48px; */

     //  font-family: 'Manrope';
     font-style: normal;
     font-weight: 700;
     font-size: 18px;
     /* identical to box height, or 267% */
     font-feature-settings: 'ss03' on;

     color: #0C0C0D;
     margin-bottom: 10px;
   }

   .tg-demo-link-btn {
     display: flex;
     flex-direction: row;
     justify-content: center;
     align-items: center;
     padding: 12px;
     gap: 8px;

     /* Demo/Purple/06 */
     background: #4B407F;
     border-radius: 8px;

     /* See our Telegram SDK Demo */
     /* Demo/16px/Regular */
     font-family: 'Poppins';
     font-style: normal;
     font-weight: 400;
     font-size: 16px;
     line-height: 24px;
     color: #FFFFFF;
   }

   button.secondary-btn {
     /* Link */

     /* Auto layout */
     display: flex;
     justify-content: center;
     align-items: center;
     padding: 7px 12px;
     gap: 6px;

     height: 32px;

     background: rgba(75, 64, 127, 0.1);
     border-radius: 6px;

     border: none;
     font-weight: 400;
     font-size: 12px;
     line-height: 18px;
     white-space: nowrap;

     :enabled {
       color: black;
     }

   }

   .loader {
     border: 8px solid #f3f3f3;
     /* Light grey */
     border-top: 8px solid #3498db;
     /* Blue */
     border-radius: 50%;
     width: 60px;
     height: 60px;
     animation: spin 1s linear infinite;
   }

   @keyframes spin {
     0% {
       transform: rotate(0deg);
     }

     100% {
       transform: rotate(360deg);
     }
   }

   .mobile-connect-wallet-btn {
     /* Link */

     box-sizing: border-box;

     /* Auto layout */
     display: flex;
     flex-direction: row;
     justify-content: center;
     align-items: center;
     padding: 12px 14px 12px 12px;
     gap: 8px;

     height: 42px;

     /* Demo/Purple/06 */
     border: 1px solid #4B407F;
     border-radius: 8px;
     font-size: 16px;
     line-height: 24px;
     background-color: #fff;

     font-family: Poppins;
     font-size: 16px;
     font-weight: 400;
     line-height: 24px;
     text-align: left;
     text-underline-position: from-font;
     text-decoration-skip-ink: none;
     color: #4B407F;

     :enabled {
       color: #4B407F;
     }

   }
 }